body {
    background:  url(../imgs/1.png) no-repeat,
    url(../imgs/2.png) no-repeat,
    url(../imgs/3.gif) no-repeat center -350%,
    url(../imgs/4.png) no-repeat;
    background-attachment: fixed;
    background-size: 100% 119%;
    overflow-x: hidden;
}

.menu {
    background-size: contain;
    background-position: center;
    width: 1187px;
    height: 555px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    width: 886px;
    height: 305px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.menu span {
    width: 100%;
    position: absolute;
    left: 0;
}

.menu a:hover span {
    transform: scale(1.1);
}

.menu a:focus span,
.menu a:visited span {
    opacity: .8;
}

@keyframes loading {
    0% {
        right: 100px;
        top: -150px;
    }
    100% {
        right: -200px;
        top: -150px;
    }
}
.animation.is-animating {
    animation: loading 15s linear infinite;
    position: relative;
}
.animation {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.bt-1 {
    background: url(../imgs/bt_iniciar.png) no-repeat;
    top: -118px;
}

.bt-1:hover {
    background: url(../imgs/bt_iniciar_hover.png) no-repeat;
   top: -118px;
}

.btVideo {
    background: url('../imgs/bt-video.png') no-repeat;
    width: 128px;
    height: 127px;
    border: none;
    background-size: contain;
}

.modal-dialog:not(.modal-fullscreen) {
    border-radius: 0;
}

.modal-dialog:not(.modal-fullscreen) .btn-close {
    color: white;
    font-size: 1.5rem;
    line-height: 0;
}

.modal-dialog:not(.modal-fullscreen) .modal-content {
    border-radius: 0;
}

.modal-dialog .modal-header {
    border-bottom: 0;
}

.modal-dialog:not(.modal-fullscreen) .modal-header {
    color: white;
    background-color: #00838D;
    border-radius: 0;
    border-bottom: 0;
}

.modal-dialog .modal-footer {
    border: 0;
    border-top: 0;
    padding: 0;
    padding-bottom: 10px;
}

.ytb {
    width: 560px;
    height: 315px;
    display: block;
    margin: 25px auto;
    max-width: 100%;
}

.backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, .9);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-intro {
    background-image: url('../../assets-inicial/imgs/modal-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-intro p {
    margin-top: -70px;
    color: white;
}

.footer {
    display: flex;
    justify-content: end;
    width: 480px;
    padding-top: 10px;
}

.botao-fechar,
.botao-fechar-2 {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: 2px 1px 3px #333;
}

.botao-fechar:hover,
.botao-fechar-2:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 580px) {
    .menu {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    .bt-1 {
        background: url(../imgs/bt_iniciar_mobile.png) no-repeat;
        margin: auto;
    }

    .bt-1:hover {
        background: url(../imgs/bt_iniciar_hover_mobile.png) no-repeat;
        margin: auto;
    }

    body {
        overflow-x: hidden;
    }
    .menu a {
        width: 265px;
        height: 93px;
    }
    .modal-intro {
        width: 100%;
        padding: 15px;
        background-image: unset;
        background-color: #00838D;
        margin: 15px;
    }

    .footer {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .menu {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    .menu a {
        width: 265px;
        height: 93px;
    }
    .bt-1 {
        background: url(../imgs/bt_iniciar_mobile.png) no-repeat;
        margin: auto;
    }

    .bt-1:hover {
        background: url(../imgs/bt_iniciar_hover_mobile.png) no-repeat;
        margin: auto;
    }

}

@media screen and (max-width: 1024px) {
    body {
        overflow: auto;
    }

    .menu {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    .menu a {
        width: 265px;
        height: 93px;
    }
    .bt-1 {
        background: url(../imgs/bt_iniciar_mobile.png) no-repeat;
        margin: -14px;
    }
    .bt-1:hover {
        background: url(../imgs/bt_iniciar_hover_mobile.png) no-repeat;
        margin: -14px;
    }

    .ytb {
        width: 360px;
        height: 240px;
    }

    .modal-intro p {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .footer {
        width: auto;
    }
}